<nav class="navbar">
  <span class="brand">Color Game</span>
  <div class="navbar-right">
    <span>{{ auth.username() }}</span>
    <a routerLink="/history">Mon historique</a>
    <button (click)="logout()">Log Out</button>
  </div>
</nav>
<div class="controls">
  <label>Nombre de colonnes: <input type="number" min="1" [(ngModel)]="columns" (change)="generateGrid()"></label>
  <label>Nombre de lignes: <input type="number" min="1" [(ngModel)]="rows" (change)="generateGrid()"></label>
</div>

<div class="grid">
  @for (row of grid; track $index; let r = $index) {
    <div class="row">
      @for (cell of row; track $index; let c = $index) {
        <div
          class="cell"
          [style.backgroundColor]="cell"
          (click)="openPopup(r, c)">
        </div>
      }
    </div>
  }
</div>

@if (showPopup) {
  <div class="popup-overlay">
    <div class="popup">
      <h3>Couleur</h3>
      <input type="text" [(ngModel)]="tempColor" placeholder="ex: yellow, red, #ff0000">
      <div class="popup-actions">
        <button class="btn-validate" (click)="confirmColor()">Valider</button>
        <button class="btn-cancel" (click)="cancelColor()">Annuler</button>
      </div>
    </div>
  </div>
}